<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.psheavymetal" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="31" />
	<application
		android:label="Heavy Metal Detection"
		android:theme="@style/MainTheme"
		android:exported="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!--Bluetooth (Permission 'ACCESS_FINE_LOCATION' is needed for Android Phones 11 and lower) -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
	<!--USB-->
	<uses-feature android:name="android.hardware.usb.host" android:required="false" />
	<uses-permission android:name="android.permission.USB_PERMISSION" />
	<!--Camera-->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>